@import "variable.styl"
// 全局配置样式
body, html
  line-height: 1
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback'
  // user-select: none
  -webkit-tap-highlight-color: transparent
  background: $color-background
  color: $color-text
  overflow: hidden
  height: 100%
  // background-color: rgb(160,241,253)
