@import "./variable";
// 投诉管理样式
.el-con
  height: 400px
 .el-dropdown
  width: 40px
  height: 40px
  border: 1px solid $color-lightgray
  position: absolute
  right: 0
  top: 0
.el-container .el-dropdown-selfdefine
  width: 40px
  height: 40px
  text-align: center
  line-height: 40px
.el-container .el-icon-arrow-down
  font-size: 20px
.el-container .el-tabs__item
  height: 30px
  line-height: 30px
  padding: 0 5px !important
  border: 1px solid $color-lightgray
  margin-left: 5px
.el-container .el-main
  padding: 0 !important
.el-container .el-tabs--card>.el-tabs__header
  padding: 5px 0
  border: 1px solid $color-lightgray
  // border-bottom: 1px solid $color-lightgray !important
  box-shadow: 0 0 5px 1px $color-lightgray
.el-container .el-tabs--card>.el-tabs__header .el-tabs__item.is-active
  background-color: #42B983 !important
  color: #fff !important
.el-container .el-tabs--card>.el-tabs__header .el-tabs__item:first-child
  border-left: 1px solid $color-lightgray
.el-container .el-tabs--card>.el-tabs__header .el-tabs__item
  border-bottom: 1px solid $color-lightgray
.el-container .el-tabs__nav
  display: flex
  align-items: center
.el-aside+.el-container
  margin-left: 180px
.el-container .el-tabs__content
    width: 100%
    overflow: hidden
    position: relative
    min-height: 250px
    border: 1px solid $color-lightgray
    box-sizing: border-box
