@import "./variable";
@import "./mixin";
// 顶部header部分样式
.header-container
   height: 70px
   width: 100%
   position: relative
.headbar
     position: fixed
     top: 0
     left:0
     right: 0
     z-index: 1030
     width: 100%
     height: 70px
     border-color: rgba(180, 190, 190, 0.8)
     display: flex
     background-size: 100% 100%
// header中logo样式
.header-left
   flex: 1
   padding-left: 20px
   background-color: #2152bb
   box-sizing: border-box
   height: 100%
   position: relative
   h1
    height: 70px
    float: left
    display: flex
    align-items: center
    margin-right: 10px
   h3
     color: #fff
     font-size: $font-size-large-x
     margin-left: 10px
     margin-top: 24px
     float: left
     @media screen and (max-width: 1350px)
       font-size: 18px
       line-height: 22px
       margin-top: 24px
     @media screen and (max-width: 1250px)
       font-size: 16px
       line-height: 20px
       margin-top: 25px
     @media screen and (max-width: 1230px)
       width: 150px
       margin-top: 18px
// 中间3个斜线的样式
.header-center
  position: absolute
  right: -30px
  top: 0
  height: 70px
  width: 60px
  z-index: 1034
  display: flex
  background-color: transparent
  @media screen and (max-width: 1350px)
    width: 40px
    right: -20px
.header-center-bg1
  height: 100%
  background-color: #1a3c88
  flex: 1
  transform: skew(-30deg)
.header-center-bg2
  height: 100%
  background-color: #122555
  flex: 1
  transform: skew(-30deg)
.header-center-bg3
  height: 100%
  background-color: #0e1a3c
  flex: 1
  transform: skew(-30deg)
  // 右边导航和基本信息的样式
.header-right
  padding: 11px 20px 0 20px
  background-color: #0b1026
  box-sizing: border-box
  width: 850px
  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: flex-end
  overflow: hidden
  @media screen and (min-width: 1410px)
    width: 65%
  @media screen and (max-width: 1300px)
    width: 835px
// 顶部各个业务的样式
.header-business
  display: flex
  padding-left: 40px
  font-size: $font-size-medium
  cursor: pointer
  padding-bottom: 5px
  .header-business-item
   no-wrap()
   .icon-xiaoxi
     position: relative
     &:after
       content: ''
       display: inline-block
       width: 5px
       height: 5px
       border-radius: 50%
       background-color: #ec4070
       position: absolute
       right: 2px
       top: 2px
.header-business-item:first-child
   padding: 0 20px 0 0
   max-width: 180px
   cursor: auto
.header-business-item+.header-business-item
  border-left: 1px solid #b9b9b9
  color: #717eb9
  padding: 0 20px
.header-business .header-business-item:last-child
  padding: 0 10px 0 18px
  // 用户名的颜色
.user-name
  color: #4effde
// 导航菜单的样式
.navbar
   height: 33px
   width: 100%
   margin-bottom: 5px
.root-title
.el-menu-item
  font-size: $font-size-medium !important
// 修改element-ui插件导航栏样式
.el-submenu
  padding: 0 10px
// 导航菜单中每一项的样式
.el-submenu__title
    padding: 0 10px !important
// 导航菜单鼠标放上的样式
.header-right .menuRoot:hover,
.header-right .el-submenu:hover,
.header-right .el-menu-item:hover,
.header-right .el-submenu__title:hover
    background: #1d3770 !important
// 下拉菜单的背景色
.el-menu--popup
   background: #1d3770 !important
.el-menu--popup .menuRoot:hover,
.el-menu--popup .el-submenu:hover,
.el-menu--popup .el-menu-item:hover,
.el-menu--popup .el-submenu__title:hover
     background: #2152bb !important
// 导航菜单箭头的样式
.el-submenu__title i
    color: #fff !important
    right: -7px !important
// 导航菜单水平布局
.el-menu.el-menu--horizontal
  display: flex
  justify-content: space-between
  align-items: center
  border: none !important
  padding: 0 5px
  height: 100%
  // width: 100%
  .menuRoot
    height: 100%
    .el-submenu
      height: 100%
      .el-submenu__title
        height: 100%
        line-height: 43px
        .root-title
          height: 100%
          display: flex
          align-items: center
// 修改element-ui导航菜单中下拉菜单的样式
.el-menu--collapse .el-menu .el-submenu, .el-menu--popup
    min-width: 150px !important
// 切换菜单的样式
.tab-container
    height: 45px
    background-color: #fff
    box-sizing: border-box
.el-tabs--card>.el-tabs__header
  border-bottom: none !important
  margin: 0 !important
// 修改element-ui切换菜单 去掉框架自带的边框，一整行的样式
.el-tabs--card>.el-tabs__header .el-tabs__nav
  border: none !important
// 切换菜单的样式，修改element-ui切换菜单 激活时的样式
// tab每一项的样式
.el-tabs--card>.el-tabs__header .el-tabs__item
  border-left: none !important
// tab每一项,激活的样式
.el-tabs--card>.el-tabs__header .el-tabs__item.is-active
  color: #2761de !important
  border: none !important
  border-bottom: 2px solid #2761de !important
  // tab项中小叉号的样式
.el-tabs--card>.el-tabs__header .el-tabs__item .el-icon-close
  top: -2px
 // 只有主菜单切换tab的样式
 .tab-container .el-tabs__nav
   padding: 0 5px
.tab-container .el-tabs__item
  font-size: $font-size-medium-s !important
.tab-container .el-tabs__item.is-active
  height: 43px !important
