@import "./variable";
@import "./mixin";
.el-table .cell
  text-align: center
  no-wrap()
.el-table th
  padding: 4px 0
.el-table td
  padding: 3px 0
// input框的样式
.el-input__inner
 height: 32px
 line-height: 32px
.el-form-item
  display: flex
  padding-right: 20px
.el-form-item__content
  margin-left: 0 !important
  flex:1
.align-left .cell
  // text-align: left
.cursor-pointer
  cursor: pointer
