@import "./variable";
@import "./mixin";
.el-table .cell
  text-align: center
  no-wrap()
.el-table th
  padding: 4px 0
.el-table td
  padding: 1px 0
// input框的样式
.el-input__inner
 height: 30px
 line-height: 30px
 width: 180px
.is-in-pagination .el-input__inner
  width: 35px
.el-form-item
  display: flex
  padding-right: 20px
.el-form-item__content
  margin-left: 0 !important
  flex:1
.align-left .cell
  // text-align: left
.cursor-pointer
  cursor: pointer
.el-radio__label
  padding-left: 6px
.el-radio
  margin-right: 15px
.el-input
  width: auto
  // 日期时间控件
.el-range-editor.el-input__inner
  margin: 0 20px
.el-date-editor .el-range__icon
.el-date-editor .el-range-separator
  display: flex
  align-items: center
  justify-content: center
