@import "./variable";
.el-input__icon
  line-height: 32px
.user-right .el-button
  // padding: 9px 15px
.expand-container
  background: #409eff
.user-left .el-button
  width: 45%
  padding: 7px 0
  text-align: center
  border: none
  border-radius: 0
  background-color: transparent
  color: #fff
.expand-container .el-button+.el-button
  margin-left: 6px
  padding-left: 6px
  border-left: 1px solid #ddd
.user-right .btn-container
  background-color: #fff
  padding-left: 5px
  // #409eff
.user-right .btn-container .el-button
  // border-radius: 0
.user-right .btn-container .el-button+.el-button
  // border-left: 1px solid #999
.user-right .el-pagination
  display: flex
  justify-content: flex-end
.user-right .el-pagination__jump
.user-right .el-pagination__total
  color: #fff