// 颜色定义规范
$color-blue = #409EFF
$color-gray = #606266
$color-lightgray = #c5dacd
$color-lightblue = #edfbf2
$color-textblack = #3f3f3f
$color-textgray = #a7a7a7
$color-textblue = #356ce1
$color-textorange = #f3bf44
$color-border = #dad9e6
$color-home = #f0f2f5

//字体定义规范
$font-size-small-s = 10px
$font-size-small = 13px
$font-size-medium = 15px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px
