// 颜色定义规范
$color-blue = #409EFF
$color-gray = #606266
$color-lightgray = #c5dacd
$color-lightblue = #edfbf2

//字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px
